//
  Page
  =============

  Updated: January 2017
  Notes:	 Hand coded for training

#main
  .container(ng-controller='StoreController as store')
    .product.col-lg-6.col-lg-offset-2(ng-repeat='product in store.products', ng-hide='product.soldOut')
      h1 {{product.name}}
      h2.pull-right ${{product.price}}
      p {{product.description}}
      button(ng-show='product.canPurchase').btn.btn-primary Add to Cart


