//
  Page
  =============

  Updated: January 2017
  Notes:	 Hand coded for training

#main
  h1 Test...
    button.btn.btn-info Press me...
  h2 Test...
    button.btn.btn-warning Press me...
  h3 Test...
    button.btn.btn-success Press me...
  h4 Test...
    button.btn.btn-info Press me...
  h5 Test...
    button.btn.btn-info Press me...
  h6 Test...
    button.btn.btn-info Press me...


