//
  Page
  =============

  Updated: January 2017
  Notes:	 Hand coded for training

#main
  .container(ng-controller='StoreController as store')
    .product.col-lg-6.col-lg-offset-2(ng-repeat='product in store.products | limitTo:5 | orderBy:"-price"', ng-hide='product.soldOut')
      .panel.panel-info
        .panel-heading
          product-title
          //h1 {{product.name}}
            em.pull-right {{product.price | currency}}
        .panel-body
          p {{product.description}}
          .col-sm-12
            img(ng-src='{{product.images[0].thumb}}')
            img(ng-src='{{product.images[0].full}}')
          .col-sm-12.block-button
            button(ng-show='product.canPurchase').btn.btn-primary Add to Cart

          product-panel

