img {
  margin-right: 10px;
  margin-top: 10px;
}

.block-button {
  margin-top: 40px;
}

.nav-block-1 {
  margin-top: 20px;
}

.panel {
  margin-top: 5px;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}